body{
  margin: 0;
}

.div-main{
  margin: 1rem;
  padding: 1rem;
  background-color:antiquewhite;
  border-radius: 1rem;
  color: black;
}

.form-input{
  margin: 1rem;
  padding: .5rem;
  border-radius: 10px;
  width: 250px;
  color: white;
}